body{
    background-image:url('new\ wallopaper.jpg');
    background-size: cover;
    font-size: 30px;
}
.keys{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.key{
    border:2px solid hsl(0, 0%, 17%);
    border-radius: 4px;
    margin: 5px;
    padding: 4px 27px;
    font-size: 34px;
    transition: all 0.07s ease;
    width: 80px;
    text-align: center;
    background-color: #ffffff;
}
.play{
    transform: scale(1.1);
    border-color: rgb(184, 132, 233);
    background-color: #f3ee65;
}
kbd{
    font-size: 37px;
}
.sound{
    font-size: 20px;
    
}
